.comment{
    max-height: 40vh;
    overflow-y: scroll;
}


.comment::-webkit-scrollbar{
    display: none;
}

.commentInput{
    border: none;
    outline: none;
    padding: 5px;
    width: 100%; 

}

.locationInput{
    border: none;
    outline: none;
    width: 90%;
}

.locationInput:focus{
    outline: none;
}
