.mobileWallpaper{
    background-image: url("https://images.pexels.com/photos/919073/pexels-photo-919073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    animation: changeBg 8s infinite;
    border-radius: 20px;
    background-size: cover;
}

@keyframes changeBg {
    0%{
        background-image: url("https://images.pexels.com/photos/9555098/pexels-photo-9555098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    25%{
        background-image: url("https://images.pexels.com/photos/3314294/pexels-photo-3314294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    50%{
        background-image: url("https://images.pexels.com/photos/9578505/pexels-photo-9578505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    75%{
        background-image: url("https://images.pexels.com/photos/2974246/pexels-photo-2974246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
}