.drag-drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.2rem;
    color: #999;
    border-radius: 5px;
    cursor: pointer;
}

.drag-drop p {
    margin: 0 0 1rem;
}

.custom-file-upload { 
    font-weight: 600;
    padding: 0.5rem 1rem; 
    background-color: #3897f0;
    border: 1px solid #3897f0; 
    color: white;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #38a1db;
    border: 1px solid #38a1db;
}


.input[type="file"]{
    display: none;
}

.fileInput{
    display: none;
}

.captionInput{
    width: 100%;
    margin-top: 5px;
    outline: none;
    resize: none;
    font-size: small;
}